img.background {
    filter: brightness(0.7);
}

.layout-kiri {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 80%;
    display: flex;
    left: 10%;
    top: 10%;
    /* margin: auto; */
    background-color: rgba(255, 255, 255, 0.568);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    box-shadow: 10px 10px 5px #b8b8b8;
}

.nama-pasangan {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1.text-pasangan {
    /* font-size: 5.5vh; */
    font-size: 6.5vw;
    font-family: 'MonteCarlo', cursive;
    /* font-family: 'Satisfy'; */
    /* font-family: 'Pinyon Script', cursive; */
    font-weight: 400;
    color: #333333;
}

h1.kata-sambung {
    /* margin: -4vw; */
    font-size: 8.5vw;
    /* font-family: 'Parisienne', cursive; */
    font-family: 'MonteCarlo', cursive;
}

.nama-pasangan {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.cover {
    position: absolute;
    background-color: aliceblue;
    z-index: 2;
    width: 80%;
    height: 40%;
    display: flex;
    left: 10%;
    top: 30%;
    /* margin: auto; */
    background-color: rgba(255, 255, 255, 0.568);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 8%;
}

h1.text-pasangan-cover {
    font-size: 10vw;
    font-family: 'MonteCarlo', cursive;
    /* font-family: 'Satisfy'; */
    /* font-family: 'Pinyon Script', cursive; */
    font-weight: 400;
    color: #333333;
}

.nama-pasangan-cover {
    position: relative;
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

h1.kata-sambung-cover {
    /* margin: -4vw; */
    font-size: 12.5vw;
    /* font-family: 'Parisienne', cursive; */
    font-family: 'MonteCarlo', cursive;
}

.head-wedding {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5vw;
}

.tanggal {
    font-size: 1vh;
}

.display-none {
    display: none;
}

.btn-buka-undangan {
    margin-top: 4vh;
    width: 100%;
    text-align: center;
}

input#btn-buka-undangan {
    background-color: #9d5658;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    width: 31%;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    align-items: center;
    font-size: 1.3vh;
}