.u-section-2 {
    background-image: url("/scr/rg.jpg");
    background-position: 50% 50%;
    min-height: 608px
}

.u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 1140px) / 2) + 1140px);
    margin: 0 0 0 auto
}

.u-section-2 .u-layout-cell-1 {
    min-height: 608px
}

.u-section-2 .u-container-layout-1 {
    padding: 55px 40px
}

.u-section-2 .u-text-1 {
    text-transform: uppercase;
    letter-spacing: 7px;
    line-height: 1;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0
}

.u-section-2 .u-text-2 {
    font-size: 6rem;
    background-image: none;
    font-family: 'Satisfy';
    text-transform: none;
    font-weight: 400;
    margin: 8px 0 0
}

.u-section-2 .u-text-3 {
    margin: 24px auto 0 0
}

.u-section-2 .u-btn-1 {
    border-style: none none solid;
    letter-spacing: 1px;
    padding: 0
}

.u-section-2 .u-btn-2 {
    border-style: none;
    background-image: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 20px auto 0 0
}

.u-section-2 .u-image-1 {
    min-height: 608px;
    background-image: url("/scr/d-min.jpg");
    background-position: 50% 50%
}

.u-section-2 .u-container-layout-2 {
    padding: 30px
}

@media (max-width: 1199px) {
    .u-section-2 {
        min-height: 294px
    }
    .u-section-2 .u-layout-wrap-1 {
        width: calc(((100% - 940px) / 2) + 940px)
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 573px
    }
    .u-section-2 .u-text-2 {
        font-size: 5.3125rem
    }
    .u-section-2 .u-image-1 {
        min-height: 439px
    }
}

@media (max-width: 991px) {
    .u-section-2 {
        min-height: 424px
    }
    .u-section-2 .u-layout-wrap-1 {
        width: calc(((100% - 720px) / 2) + 720px)
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 100px
    }
    .u-section-2 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px
    }
    .u-section-2 .u-text-2 {
        font-size: 3.75rem
    }
    .u-section-2 .u-image-1 {
        min-height: 348px;
        background-position: 20.64% 50%
    }
}

@media (max-width: 767px) {
    .u-section-2 {
        min-height: 975px
    }
    .u-section-2 .u-layout-wrap-1 {
        width: calc(((100% - 540px) / 2) + 540px)
    }
    .u-section-2 .u-container-layout-1 {
        padding: 30px 50px 30px 10px
    }
    .u-section-2 .u-text-2 {
        font-size: 6rem
    }
    .u-section-2 .u-image-1 {
        min-height: 540px
    }
    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width: 575px) {
    .u-section-2 {
        min-height: 735px
    }
    .u-section-2 .u-layout-wrap-1 {
        width: calc(((100% - 340px) / 2) + 340px)
    }
    .u-section-2 .u-layout-cell-1 {
        min-height: 337px
    }
    .u-section-2 .u-text-2 {
        font-size: 3.75rem
    }
    .u-section-2 .u-image-1 {
        min-height: 398px
    }
}