img.background {
    filter: brightness(0.7);
}

.layout-kiri {
    position: absolute;
    z-index: 1;
    width: 85%;
    height: 85%;
    display: flex;
    left: 7.5%;
    top: 7.5%;
    background-color: rgba(255, 255, 255, 0.568);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 2%;
}

.nama-pasangan {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1.text-pasangan {
    /* font-size: 5.5vh; */
    font-size: 6.5vw;
    font-family: 'MonteCarlo', cursive;
    /* font-family: 'Satisfy'; */
    /* font-family: 'Pinyon Script', cursive; */
    font-weight: 400;
    color: #333333;
}

h1.kata-sambung {
    /* margin: -4vw; */
    font-size: 8.5vw;
    /* font-family: 'Parisienne', cursive; */
    font-family: 'MonteCarlo', cursive;
}

.nama-pasangan {
    position: relative;
    margin: 4% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.cover {
    position: absolute;
    background-color: aliceblue;
    z-index: 2;
    width: 80%;
    height: 40%;
    display: flex;
    left: 10%;
    top: 30%;
    /* margin: auto; */
    background-color: rgba(255, 255, 255, 0.568);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 8%;
}

h1.text-pasangan-cover {
    font-size: 10vw;
    font-family: 'MonteCarlo', cursive;
    /* font-family: 'Satisfy'; */
    /* font-family: 'Pinyon Script', cursive; */
    font-weight: 400;
    color: #333333;
}

.nama-pasangan-cover {
    position: relative;
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

h1.kata-sambung-cover {
    /* margin: -4vw; */
    font-size: 12.5vw;
    /* font-family: 'Parisienne', cursive; */
    font-family: 'MonteCarlo', cursive;
}

.head-wedding-cover {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5vw;
}

.tanggal {
    font-size: 1vh;
}

.display-none {
    display: none;
}

.btn-buka-undangan {
    margin-top: 4vh;
    width: 100%;
    text-align: center;
}

input#btn-buka-undangan {
    background-color: #9d5658;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    width: 31%;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    align-items: center;
    font-size: 1.3vh;
}

.head-wedding-cover {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5vw;
}

.head-wedding {
    font-family: 'Great Vibes', cursive;
    font-size: 3.0vw;
    padding: 5%;
}

.pembuka {
    font-size: 2.6vw;
}

.pembuka>p {
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 2%;
}

.waktu-tempat {
    margin: 4% auto;
    font-size: 1.3vh;
    font-size: 2.6vw;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

.waktu-tempat>p {
    font-size: 1.3vh;
    font-size: 2.6vw;
}

.waktu-tempat>a {
    font-size: 1.3vh;
    font-size: 2.6vw;
}

td.label {
    width: 25%;
}

table {
    width: 100%;
    /* padding: 2%; */
    margin: 2% auto;
}

.penutup>p {
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 1.3vh;
    font-size: 2.6vw;
    padding: 1% 2%;
}

.hormat-kami {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.hormat-kami>p {
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 1.3vh;
    font-size: 2.6vw;
    padding: 0% 2%;
}