* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: whitesmoke;
}

nav>div>ul>li>a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1.5vh;
    font-size: 1.3rem;
    width: 100%;
    box-sizing: border-box;
}

nav>div>ul>li:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.menu-button {
    width: 6vh;
    padding: 1vh;
    box-sizing: border-box;
    height: 6vh;
}

.menu-button:hover {
    cursor: pointer;
}

.bg-menu-darker {
    background-color: rgb(226, 226, 226);
}

.menu-item {
    margin-left: -100%;
    width: 100%;
    background-color: whitesmoke;
    transition: all .3s;
    position: absolute;
}

.menu-item-reset-margin {
    margin-left: 0;
}

.hide {
    display: none;
}

.container {
    padding: 1vh 1vh;
}

.wellcome-text {
    text-align: center;
    margin: 2vh 0;
}

.main-search {
    display: grid;
    grid-gap: 1vh;
}

.main-search>input {
    display: block;
    margin: auto;
}

input#search-article {
    width: 50vw;
    height: 5vh;
    border-radius: 10px;
    padding: 1vh 2vw;
    box-sizing: border-box;
}

input#btn-search {
    background: whitesmoke;
    border: none;
    padding: 1vh 3vw;
    border-radius: 1vh;
    font-size: 1rem;
    box-shadow: 3px 2px #000000;
}

.menu-item-active {
    background-color: gainsboro;
}